* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  overflow: visible!important;
  z-index: 1001;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

nav {
  display: flex;
  flex-direction: row;
}