<section class="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
<!--  <a href="#" class="btn">View on GitHub</a>
<a href="#" class="btn">Download .zip</a>
<a href="#" class="btn">Download .tar.gz</a> -->
<video class="vidcover"  autoplay="true" loop="true">
        <source src="{{ '/assets/typing-mackbook-2.mp4' | prepend: site.baseurl }}" type="video/mp4" />
        <source src="{{ '/assets/typing-mackbook-2.webm' | prepend: site.baseurl }}" type="video/webm" />
</video>
</section>