:root {
  --h1-font: "Default";
  --h2-font: Poppins, sans-serif;
  --h3-font: Poppins, sans-serif;
  --p-font: Poppins, sans-serif;
  --primary-p-color: #6f6f6f;
  --secondary-p-color: #8e8e8e;
  --header-bg-color: #111111;
  --nav-item-color: #f5f5f5;
  --top-nav-item-color: #f5f5f5;
  --hero-bg-color: #111111;
  --primary-color: #0075f2;
  --secondary-color: #26ffe6;
  --primary-button-color: #f5f5f5;
  --primary-button-hover-color: #f5f5f5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "PTSans Narrow";
  src: url("../fonts/PTSansNarrow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans Narrow Bold";
  src: url("../fonts/PTSansNarrow-Bold.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PTSans Narrow";
  min-height: 100vh;
  background: rgb(34, 193, 195);
  background-image: radial-gradient(
    circle farthest-side at top left,
    rgba(34, 193, 195, 1) 0%,
    rgba(67, 117, 183, 1) 65%
  );
  /* background-image: linear-gradient(
    132.6deg,
    rgba(71, 139, 214, 1) 23.3%,
    rgba(37, 216, 211, 1) 84.7%
  ); */
}

header {
  position: fixed;
  width: 100vw;
  overflow: visible !important;
  z-index: 1001;
  background-color: #111;
  color: aquamarine;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

nav {
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}

h1,
h2 {
  font-family: "PTSans Narrow Bold";
}

ul {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

ul li {
  list-style: none;
  padding: 0.5em 2em;
  align-items: center;
}

footer {
  position: fixed;
  width: 100vw;
  overflow: visible !important;
  z-index: 1001;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.main {
  margin: 60px 20px 30px;
}

.effex {
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 15%,
    var(--primary-color) 65%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide-content {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: 85px 0;
  min-height: inherit;
}
