/* .footer {
  position: fixed;
  width: 100vw;
  overflow: visible!important;
  z-index: 1001;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
} */

.footer {
  display: flex;
  flex: 1;
  padding: 0.5rem 0;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary-color);
  box-shadow: 0 -2px 5px var(--shadow-color);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer a span {
  margin-top: 8px;
}
